.search {
  float: right;
  margin-left: 15px !important;
  position: relative;
  top: -2px;
}

.search-keyword {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid thin darkgray;
  padding: 3px;
  font-size: 0.9em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: lighter;
  background: url(/img/search.png) no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: right;
}

.gsc-above-wrapper-area-container tbody tr {
  background: none !important;
}