.search {
  float: right;
  margin-left: 15px !important;
}

.search-keyword {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid thin darkgray;
  font-size: 0.9em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.search-button {
  background: url(/img/search.png) no-repeat;
  border: none;
  color: #fff;
  background-size: contain;
}