---
layout: default
---
<article id="post-page">
	<h1>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		
	</div>

	<div class="tags">
		{% if page.tags %}
			{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/search/?q={{ tag }}" class="post-tag">{{ tag | downcase }}</a>
			{% endfor %}
		{% endif %}
	</div>

	{% if page.keywords %}
		<div class="dic">
			<table>
				<thead>
					<tr>
						<th>En</th>
						<th>한</th>
						<th>中</th>
					</tr>
				</thead>
				<tbody>
					{% for keyword in page.keywords %}
						<tr>
							<td>{{ keyword.en }}</td>
							<td>{{ keyword.ko }}</td>
							<td>{{ keyword.cn }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</article>

